[Unit]
Description=Docker Local Repository
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -d -p 5000:5000 --restart=always --name registry registry:2
ExecStop=/usr/bin/docker status

[Install]
WantedBy=default.target
